src/Server/projectstats.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="projectstats"
 targetNamespace="urn:projectstats"
 xmlns:tns="urn:projectstats"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ps="urn:projectstats"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:projectstats"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ps="urn:projectstats"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="StringIntPair"><!-- StringIntPair -->

   <sequence>
     <element name="key" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- StringIntPair::key -->
     <element name="value" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- StringIntPair::value -->
   </sequence>
  </complexType>
  <complexType name="StringDoublePair"><!-- StringDoublePair -->

   <sequence>
     <element name="key" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- StringDoublePair::key -->
     <element name="value" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- StringDoublePair::value -->
   </sequence>
  </complexType>
  <complexType name="PlayerInformation"><!-- PlayerInformation -->

   <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- PlayerInformation::id -->
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- PlayerInformation::name -->
     <element name="games" type="ps:StringIntPair" minOccurs="0" maxOccurs="unbounded"/><!-- PlayerInformation::games -->
     <element name="wins" type="ps:StringIntPair" minOccurs="0" maxOccurs="unbounded"/><!-- PlayerInformation::wins -->
     <element name="losses" type="ps:StringIntPair" minOccurs="0" maxOccurs="unbounded"/><!-- PlayerInformation::losses -->
     <element name="points" type="ps:StringIntPair" minOccurs="0" maxOccurs="unbounded"/><!-- PlayerInformation::points -->
     <element name="average" type="ps:StringDoublePair" minOccurs="0" maxOccurs="unbounded"/><!-- PlayerInformation::average -->
   </sequence>
  </complexType>
  <complexType name="PlayerList"><!-- PlayerList -->

   <sequence>
     <element name="playerList" type="ps:PlayerInformation" minOccurs="0" maxOccurs="unbounded"/><!-- PlayerList::playerList -->
   </sequence>
  </complexType>
  <complexType name="DrinkInformation"><!-- DrinkInformation -->

   <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- DrinkInformation::id -->
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- DrinkInformation::name -->
     <element name="type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- DrinkInformation::type -->
     <element name="size" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- DrinkInformation::size -->
     <element name="alc" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- DrinkInformation::alc -->
     <element name="drinkCount" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- DrinkInformation::drinkCount -->
     <element name="drinksPerPlayer" type="ps:StringIntPair" minOccurs="0" maxOccurs="unbounded"/><!-- DrinkInformation::drinksPerPlayer -->
   </sequence>
  </complexType>
  <complexType name="DrinkList"><!-- DrinkList -->

   <sequence>
     <element name="drinkList" type="ps:DrinkInformation" minOccurs="0" maxOccurs="unbounded"/><!-- DrinkList::drinkList -->
   </sequence>
  </complexType>
  <complexType name="PlaceInformation"><!-- PlaceInformation -->

   <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- PlaceInformation::id -->
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- PlaceInformation::name -->
     <element name="plz" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- PlaceInformation::plz -->
     <element name="ort" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- PlaceInformation::ort -->
     <element name="strasse" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- PlaceInformation::strasse -->
     <element name="number" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- PlaceInformation::number -->
     <element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- PlaceInformation::comment -->
     <element name="gameCount" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- PlaceInformation::gameCount -->
     <element name="players" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/><!-- PlaceInformation::players -->
   </sequence>
  </complexType>
  <complexType name="PlaceList"><!-- PlaceList -->

   <sequence>
     <element name="placeList" type="ps:PlaceInformation" minOccurs="0" maxOccurs="unbounded"/><!-- PlaceList::placeList -->
   </sequence>
  </complexType>
  <complexType name="GameInformation"><!-- GameInformation -->

   <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- GameInformation::id -->
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- GameInformation::name -->
     <element name="date" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- GameInformation::date -->
     <element name="isLive" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- GameInformation::isLive -->
     <element name="playersSortedByPosition" type="ps:PlayerInformation" minOccurs="0" maxOccurs="unbounded"/><!-- GameInformation::playersSortedByPosition -->
     <element name="currentPlayingPlayers" type="ps:PlayerInformation" minOccurs="0" maxOccurs="unbounded"/><!-- GameInformation::currentPlayingPlayers -->
   </sequence>
  </complexType>
  <complexType name="GameList"><!-- GameList -->

   <sequence>
     <element name="gameList" type="ps:GameInformation" minOccurs="0" maxOccurs="unbounded"/><!-- GameList::gameList -->
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="playerById">
   <complexType>
    <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__playerById::id -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="playerByIdResponse">
   <complexType>
    <sequence>
     <element name="result" type="ps:PlayerInformation" minOccurs="1" maxOccurs="1"/><!-- ps__playerById::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="playerList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="playerListResponse">
   <complexType>
    <sequence>
     <element name="result" type="ps:PlayerList" minOccurs="1" maxOccurs="1"/><!-- ps__playerList::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="drinkList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="drinkListResponse">
   <complexType>
    <sequence>
     <element name="result" type="ps:DrinkList" minOccurs="1" maxOccurs="1"/><!-- ps__drinkList::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="placeList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="placeListResponse">
   <complexType>
    <sequence>
     <element name="result" type="ps:PlaceList" minOccurs="1" maxOccurs="1"/><!-- ps__placeList::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="gameList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="gameListResponse">
   <complexType>
    <sequence>
     <element name="result" type="ps:GameList" minOccurs="1" maxOccurs="1"/><!-- ps__gameList::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="gameCurrentPlayingPlayers">
   <complexType>
    <sequence>
     <element name="gameId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__gameCurrentPlayingPlayers::gameId -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="gameCurrentPlayingPlayersResponse">
   <complexType>
    <sequence>
     <element name="result" type="ps:PlayerList" minOccurs="1" maxOccurs="1"/><!-- ps__gameCurrentPlayingPlayers::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addSchmeisserei">
   <complexType>
    <sequence>
     <element name="gameId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addSchmeisserei::gameId -->
     <element name="playerId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addSchmeisserei::playerId -->
     <element name="type" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ps__addSchmeisserei::type -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="addSchmeissereiResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ps__addSchmeisserei::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addDrink">
   <complexType>
    <sequence>
     <element name="gameId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addDrink::gameId -->
     <element name="playerId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addDrink::playerId -->
     <element name="drinkId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addDrink::drinkId -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="addDrinkResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ps__addDrink::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addRound">
   <complexType>
    <sequence>
     <element name="gameId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addRound::gameId -->
     <element name="re1PlayerId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addRound::re1PlayerId -->
     <element name="re2PlayerId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addRound::re2PlayerId -->
     <element name="hochzeitPlayerId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addRound::hochzeitPlayerId -->
     <element name="schweinereiPlayerId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addRound::schweinereiPlayerId -->
     <element name="trumpfabgabePlayerId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addRound::trumpfabgabePlayerId -->
     <element name="soloType" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ps__addRound::soloType -->
     <element name="pflichtsolo" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- ps__addRound::pflichtsolo -->
     <element name="points" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__addRound::points -->
     <element name="comment" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ps__addRound::comment -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="addRoundResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ps__addRound::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="hasPflichtSolo">
   <complexType>
    <sequence>
     <element name="playerId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__hasPflichtSolo::playerId -->
     <element name="gameId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__hasPflichtSolo::gameId -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="hasPflichtSoloResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- ps__hasPflichtSolo::result -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="playerByIdRequest">
 <part name="parameters" element="ps:playerById"/><!-- ps__playerById::ps__playerById -->
</message>

<message name="playerByIdResponse">
 <part name="parameters" element="ps:playerByIdResponse"/>
</message>

<message name="playerListRequest">
 <part name="parameters" element="ps:playerList"/><!-- ps__playerList::ps__playerList -->
</message>

<message name="playerListResponse">
 <part name="parameters" element="ps:playerListResponse"/>
</message>

<message name="drinkListRequest">
 <part name="parameters" element="ps:drinkList"/><!-- ps__drinkList::ps__drinkList -->
</message>

<message name="drinkListResponse">
 <part name="parameters" element="ps:drinkListResponse"/>
</message>

<message name="placeListRequest">
 <part name="parameters" element="ps:placeList"/><!-- ps__placeList::ps__placeList -->
</message>

<message name="placeListResponse">
 <part name="parameters" element="ps:placeListResponse"/>
</message>

<message name="gameListRequest">
 <part name="parameters" element="ps:gameList"/><!-- ps__gameList::ps__gameList -->
</message>

<message name="gameListResponse">
 <part name="parameters" element="ps:gameListResponse"/>
</message>

<message name="gameCurrentPlayingPlayersRequest">
 <part name="parameters" element="ps:gameCurrentPlayingPlayers"/><!-- ps__gameCurrentPlayingPlayers::ps__gameCurrentPlayingPlayers -->
</message>

<message name="gameCurrentPlayingPlayersResponse">
 <part name="parameters" element="ps:gameCurrentPlayingPlayersResponse"/>
</message>

<message name="addSchmeissereiRequest">
 <part name="parameters" element="ps:addSchmeisserei"/><!-- ps__addSchmeisserei::ps__addSchmeisserei -->
</message>

<message name="addSchmeissereiResponse">
 <part name="parameters" element="ps:addSchmeissereiResponse"/>
</message>

<message name="addDrinkRequest">
 <part name="parameters" element="ps:addDrink"/><!-- ps__addDrink::ps__addDrink -->
</message>

<message name="addDrinkResponse">
 <part name="parameters" element="ps:addDrinkResponse"/>
</message>

<message name="addRoundRequest">
 <part name="parameters" element="ps:addRound"/><!-- ps__addRound::ps__addRound -->
</message>

<message name="addRoundResponse">
 <part name="parameters" element="ps:addRoundResponse"/>
</message>

<message name="hasPflichtSoloRequest">
 <part name="parameters" element="ps:hasPflichtSolo"/><!-- ps__hasPflichtSolo::ps__hasPflichtSolo -->
</message>

<message name="hasPflichtSoloResponse">
 <part name="parameters" element="ps:hasPflichtSoloResponse"/>
</message>

<portType name="projectstatsPortType">
 <operation name="playerById">
  <documentation>Service definition of function ps__playerById</documentation>
  <input message="tns:playerByIdRequest"/>
  <output message="tns:playerByIdResponse"/>
 </operation>
 <operation name="playerList">
  <documentation>Service definition of function ps__playerList</documentation>
  <input message="tns:playerListRequest"/>
  <output message="tns:playerListResponse"/>
 </operation>
 <operation name="drinkList">
  <documentation>Service definition of function ps__drinkList</documentation>
  <input message="tns:drinkListRequest"/>
  <output message="tns:drinkListResponse"/>
 </operation>
 <operation name="placeList">
  <documentation>Service definition of function ps__placeList</documentation>
  <input message="tns:placeListRequest"/>
  <output message="tns:placeListResponse"/>
 </operation>
 <operation name="gameList">
  <documentation>Service definition of function ps__gameList</documentation>
  <input message="tns:gameListRequest"/>
  <output message="tns:gameListResponse"/>
 </operation>
 <operation name="gameCurrentPlayingPlayers">
  <documentation>Service definition of function ps__gameCurrentPlayingPlayers</documentation>
  <input message="tns:gameCurrentPlayingPlayersRequest"/>
  <output message="tns:gameCurrentPlayingPlayersResponse"/>
 </operation>
 <operation name="addSchmeisserei">
  <documentation>Service definition of function ps__addSchmeisserei</documentation>
  <input message="tns:addSchmeissereiRequest"/>
  <output message="tns:addSchmeissereiResponse"/>
 </operation>
 <operation name="addDrink">
  <documentation>Service definition of function ps__addDrink</documentation>
  <input message="tns:addDrinkRequest"/>
  <output message="tns:addDrinkResponse"/>
 </operation>
 <operation name="addRound">
  <documentation>Service definition of function ps__addRound</documentation>
  <input message="tns:addRoundRequest"/>
  <output message="tns:addRoundResponse"/>
 </operation>
 <operation name="hasPflichtSolo">
  <documentation>Service definition of function ps__hasPflichtSolo</documentation>
  <input message="tns:hasPflichtSoloRequest"/>
  <output message="tns:hasPflichtSoloResponse"/>
 </operation>
</portType>

<binding name="projectstats" type="tns:projectstatsPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="playerById">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="playerList">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="drinkList">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="placeList">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="gameList">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="gameCurrentPlayingPlayers">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="addSchmeisserei">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="addDrink">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="addRound">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="hasPflichtSolo">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="projectstats">
 <documentation>gSOAP 2.8.4 generated service definition</documentation>
 <port name="projectstats" binding="tns:projectstats">
  <SOAP:address location="http://eineurl.von.uns?"/>
  <SOAP:address location="http://eineurl.von.uns?"/>
  <SOAP:address location="http://eineurl.von.uns?"/>
  <SOAP:address location="http://eineurl.von.uns?"/>
  <SOAP:address location="http://eineurl.von.uns?"/>
  <SOAP:address location="http://eineurl.von.uns?"/>
  <SOAP:address location="http://eineurl.von.uns?"/>
  <SOAP:address location="http://eineurl.von.uns?"/>
  <SOAP:address location="http://eineurl.von.uns?"/>
  <SOAP:address location="http://eineurl.von.uns?"/>
 </port>
</service>

</definitions>
