src/Server/projectstats.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="projectstats"
 targetNamespace="urn:projectstats"
 xmlns:tns="urn:projectstats"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ps="urn:projectstats"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:projectstats"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ps="urn:projectstats"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="PlayerInformation"><!-- PlayerInformation -->

   <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- PlayerInformation::id -->
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- PlayerInformation::name -->
   </sequence>
  </complexType>
  <complexType name="PlayerList"><!-- PlayerList -->

   <sequence>
     <element name="playerList" type="ps:PlayerInformation" minOccurs="0" maxOccurs="unbounded"/><!-- PlayerList::playerList -->
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="playerById">
   <complexType>
    <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ps__playerById::id -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="playerByIdResponse">
   <complexType>
    <sequence>
     <element name="result" type="ps:PlayerInformation" minOccurs="1" maxOccurs="1"/><!-- ps__playerById::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="playerList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="playerListResponse">
   <complexType>
    <sequence>
     <element name="result" type="ps:PlayerList" minOccurs="1" maxOccurs="1"/><!-- ps__playerList::result -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="playerByIdRequest">
 <part name="parameters" element="ps:playerById"/><!-- ps__playerById::ps__playerById -->
</message>

<message name="playerByIdResponse">
 <part name="parameters" element="ps:playerByIdResponse"/>
</message>

<message name="playerListRequest">
 <part name="parameters" element="ps:playerList"/><!-- ps__playerList::ps__playerList -->
</message>

<message name="playerListResponse">
 <part name="parameters" element="ps:playerListResponse"/>
</message>

<portType name="projectstatsPortType">
 <operation name="playerById">
  <documentation>Service definition of function ps__playerById</documentation>
  <input message="tns:playerByIdRequest"/>
  <output message="tns:playerByIdResponse"/>
 </operation>
 <operation name="playerList">
  <documentation>Service definition of function ps__playerList</documentation>
  <input message="tns:playerListRequest"/>
  <output message="tns:playerListResponse"/>
 </operation>
</portType>

<binding name="projectstats" type="tns:projectstatsPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="playerById">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="playerList">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="projectstats">
 <documentation>gSOAP 2.8.4 generated service definition</documentation>
 <port name="projectstats" binding="tns:projectstats">
  <SOAP:address location="http://eineurl.von.uns?"/>
  <SOAP:address location="http://eineurl.von.uns?"/>
 </port>
</service>

</definitions>
